<!DOCTYPE html>
<html>
  <head>
    <title>首页</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <ul>

      <% data.forEach((val,index) => { %>
        
        <li id = "<%= val.id%>"></li>
          <%= val.title%>
          <img src="<%= val.img %>" alt="">
          <p><%= val.content%></p>

        <% }) %>
    </ul>
    
  </body>
</html>
